<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/origin.css">
    <link rel="stylesheet" href="../less/userInfo.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
</head>
<body>
<div id="centent">
    <!--头部-->
    <div class="centent-head"></div>
    <!--内容-->
    <div class="centent-body">
        <!--菜单栏-->
        <div class="centent-body-nav">
            <div class="centent-body-title" >个人设定</div>
            <ul class="centent-body-tab">
                <li>基础信息</li>
                <li>我的好友</li>
                <li>我的关注</li>
                <li>我的消息</li>
                <li>修改密码</li>
                <li>我的文章</li>
                <li>我的评论</li>
                <li>我的收藏</li>
            </ul>
        </div>
        <!--基础信息内容-->
        <div class="centent-body-con hide">
            <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <thead>
                <tr>
                    <th colspan="4">基础信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>用户名</td>
                    <td>11</td>
                    <td>性别</td>
                    <td>男</td>
                </tr>
                <tr>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>血型</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td >个性签名</td>
                    <td colspan="4">2016-11-28</td>
                </tr>
                </tbody>
            </table>
            <table class="layui-table" style="margin-top: 30px">
                <colgroup>
                    <col width="25%">
                    <col width="75%">
                </colgroup>
                <thead>
                <tr>
                    <th colspan="2">更多信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>职业</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>公司</td>
                    <td>2016-11-28</td>
                </tr>
                <tr>
                    <td >所在地</td>
                    <td >2016-11-28</td>
                </tr>
                <tr>
                    <td >手机号码</td>
                    <td >2016-11-28</td>
                </tr>
                <tr>
                    <td >邮箱</td>
                    <td >2016-11-28</td>
                </tr>
                <tr>
                    <td >个人说明</td>
                    <td >2016-11-28</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--密码修改-->
        <div class="centent-body-pwd">
            <form class="layui-form" action="">
                <h2>建议使用复杂的密码，以提高安全性</h2>
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="oldpassword" required  lay-verify="required" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请输入6-12位原始密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="newpassword" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请输入6-12位新密码</div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="newpassword" required lay-verify="required" placeholder="请确认密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请确认新密码</div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即更改</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
                <p>注：</p>
                <p id="wo">不要永久使用一个密码，隔断时间更改一次密码以提高安全性</p>
            </form>

            <script>
                //Demo
                layui.use('form', function(){
                    var form = layui.form;

                    //监听提交
                    form.on('submit(formDemo)', function(data){
                        layer.msg(JSON.stringify(data.field));
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>