.layui-tab{
  height: 605px;
}
#my-content{
  position: absolute;
  top:10px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 2;
  border-radius: 50%;
  transition: color 2S;
    .Head-portrait{
      position: absolute;
      top:-4px;
      right: 0;
      width: 50px;
      height: 50px;

        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
    }

    #layui-nav-child{
      position: absolute;
      top:39px;
      left: -20px;
      width: 100px;
      margin-top:10px;
      display: none;
      line-height: 40px;
      background-color:white;
      box-shadow: 0 2px  4px rgba(0,0,0,.12);
      border: 1px solid #d2d2d2;

      li{
        margin:auto;
        width: 60px;
        color: #9F9F9F;
      }
    }

    .muen{
      position: absolute;
      top:50px;
      display: none;
      //opacity: 0;
      right:-18px;
      width: 70px;
      height: 70px;
      box-shadow: 0 2px 4px rgba(0,0,0,.12);
      border: 1px solid #d2d2d2;
      //transition: opacity 1s;

        #button{
          margin: 5px auto;
          width: 30px;
            li{
              line-height: 30px;
              color: #8D8D8D;
            }
          a:hover{
            color: #FF00FF;
          }
        }

    }

}


