.wrap{
  width: 500px;
  height: 200px;
  border: 1px solid red;
  background-image: url("../images/1.jpg");
  .ap{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    background-image: url("../images/1.jpg");
  }
}