#centent {
  min-width: 600px;
  height: 600px;
}
#centent .centent-head {
  height: 55px;
  background: url("../images/wujiaoxing.jpg");
}
#centent .centent-body {
  position: relative;
  margin: auto;
  max-width: 1000px;
  min-width: 800px;
}
#centent .centent-body .cen-pos {
  position: absolute;
  top: -27px;
  left: 247px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 3%;
  display: none;
  min-width: 70%;
}
#centent .centent-body .centent-body-nav {
  margin-top: 30px;
  width: 25%;
}
#centent .centent-body .centent-body-nav .centent-body-title {
  padding-left: 10px;
  height: 55px;
  line-height: 55px;
  background-color: #f3f5f8;
  border: 1px solid ghostwhite;
  box-shadow: 0 1px 1px gray;
}
#centent .centent-body .centent-body-nav .centent-body-tab {
  height: 450px;
  border: 1px solid ghostwhite;
}
#centent .centent-body .centent-body-nav .centent-body-tab li {
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #e1e4e8;
}
#centent .centent-body .centent-body-nav .centent-body-tab li:hover {
  color: dodgerblue;
}
#centent .centent-body .centent-body-con {
  /*margin-top: 30px;
          margin-bottom: 30px;
          margin-left: 3%;
          display:none;
          min-width: 70%;*/
}
#centent .centent-body .centent-body-con h3 {
  padding-left: 30px;
  margin-bottom: 30px;
  height: 56px;
  color: #f3f5f8;
  line-height: 56px;
  background-color: #f3f5f8;
  color: rgba(80, 80, 80, 0.7);
  border: 1px solid ghostwhite;
}
#centent .centent-body .centent-body-con .Head-portrait {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border: 2px solid gainsboro;
}
#centent .centent-body .centent-body-con .Head-portrait img {
  width: 150px;
  height: 150px;
}
#centent .centent-body .centent-body-con .layui-table {
  margin-top: 0;
}
#centent .centent-body .centent-body-con .layui-table .info-content .layui-form-item {
  margin-bottom: 0;
}
#centent .centent-body .centent-body-con .layui-table .info-content .show {
  display: block;
}
#centent .centent-body .centent-body-con .layui-table .info-content .hide {
  display: none;
}
#centent .centent-body .centent-body-con .layui-table thead tr th {
  height: 35px;
  text-align: center;
  font-size: 18px;
}
#centent .centent-body .centent-body-con .layui-table tbody tr td {
  height: 35px;
}
#centent .centent-body .centent-body-con .preservation {
  margin: 20px auto;
  width: 70px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  background-color: #06c383;
  cursor: pointer;
}
#centent .centent-body .centent-body-con .preservation:hover {
  background-color: #06b776;
}
#centent .centent-body .show {
  display: block;
}
#centent .centent-body .hide {
  display: none;
}
#centent .centent-body .my-Friends {
  display: none;
}
#centent .centent-body .show {
  display: block;
}
#centent .centent-body .hide {
  display: none;
}
#centent .centent-body .my-follow {
  display: none;
}
#centent .centent-body .show {
  display: block;
}
#centent .centent-body .hide {
  display: none;
}
#centent .centent-body .my-news {
  display: none;
}
#centent .centent-body .show {
  display: block;
}
#centent .centent-body .hide {
  display: none;
}
#centent .centent-body .centent-body-pwd {
  /* margin-top: 30px;
          margin-bottom: 30px;
          margin-left: 3%;
          display: none;
          width: 70%;
*/
}
#centent .centent-body .centent-body-pwd .layui-form {
  margin: auto;
  width: 500px;
}
#centent .centent-body .centent-body-pwd .layui-form h2 {
  margin: 30px auto;
  width: 340px;
  color: #757575;
}
#centent .centent-body .centent-body-pwd .layui-form .layui-form-item {
  margin-bottom: 30px;
}
#centent .centent-body .centent-body-pwd .layui-form p {
  font-size: 20px;
  color: #757575;
}
#centent .centent-body .centent-body-pwd .layui-form p:nth-child(7) {
  text-indent: 2em;
}
#centent .centent-body .show {
  display: block;
}
#centent .centent-body .hide {
  display: none;
}
#centent .centent-body .my-article {
  display: none;
}
#centent .centent-body .show {
  display: block;
}
#centent .centent-body .hide {
  display: none;
}
#centent .centent-body .my-comment {
  display: none;
}
#centent .centent-body .show {
  display: block;
}
#centent .centent-body .hide {
  display: none;
}
#centent .centent-body .my-Collection {
  display: none;
}
#centent .centent-body .show {
  display: block;
}
#centent .centent-body .hide {
  display: none;
}
/*# sourceMappingURL=userInfo.css.map */